default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['DB_PORT_5432_TCP_ADDR'] %>
  pool: 5
  user: <%= ENV['SSOTEST_DATABASE_USER'] %>
  password: <%= ENV['SSOTEST_DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: ssotest_development

test:
  <<: *default
  database: ssotest_test

production:
  <<: *default
  database: <%= ENV['SSOTEST_DATABASE_NAME'] %>
