<!DOCTYPE html>
<html>
<head>
  <title>SsoTest</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="https://login.windows.net/a26481dc-8696-4a67-aa8b-f72cc131e655/oauth2/authorize?client_id=8accbf55-e393-4574-b13f-8cade58525f7&response_mode=form_post&redirect_uri=https%3A%2F%2Fssocodelitt.azurewebsites.net%2F.auth%2Flogin%2Faad%2Fcallback%2F2&resource=https%3A%2F%2Fgraph.windows.net&response_type=code">Login with your credentials</a>
</body>
</html>
